/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.game-container {
    background: url('../img/vichy.png');
    padding: .5rem;
    overflow: hidden;
	
}
.info-display {
    margin-top: 1rem;
}
.back {
    background: url('../img/wood_1.png') repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 100;
    margin: 0;
    padding: 0;
}
#card-list {
    list-style-type: none;
}
#card-list:after {
    clear: both;
}
.card, .matchedCard {
    display: inline-block;
/*    float: left; */
    width:  200px;
  	height: 300px;
	border-width: 1px;
  	border-style: solid;
  	margin: .5rem; 
}
.hidden {
    display: none;
}
hr {
    clear: both;
}



















